<!DOCTYPE html>
<html>

<head>
  <title>New Task Added</title>
  <%- include('../partials/head.ejs') %>
</head>

<body>

  <%- include('../partials/header.ejs') %>

  <h1>Task ...</h1>
  <p>Task: <%- task.task %></p>
  <p>Assigned To: <%- task.assigned %></p>
  <p>Status: <%- task.status %></p>
</body>

</html>